.videoErr{
    background-color: var(--third);
    
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-inline:2rem;
    height:20rem;
    justify-content: center;
  }
  .videoErr__text{
      color: var(--primary);
      font-size: 1rem;
      text-align: center;

      margin-bottom: 1rem;
  }