.container{
    width:min(100%,700px);
    margin-inline: auto;
    padding-inline: 1rem;
}
.form{
    padding-block: 2rem;
}
.title{
    color: var(--secondary);
    font-size:clamp(1.7rem,7.7vw,2.5rem);
    margin: 3rem auto;
    width: fit-content;
}

.videoWrapper,.videoErr{
    width:min(100%,700px);
}

.form__elements{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    
    margin-bottom: .5rem;

    text-transform:capitalize;
}
.form__label{
    color: var(--secondary);
    font-size: 1rem;
}
.form__addElements__container{
   display: flex;
   gap: 1rem;
}


.form__submit__btn{
    display: block;
    margin-top: 1rem;
    margin-inline:  auto ;
}


/* media query */
@media(max-width:500px){
    .container{
        padding-inline: 1rem;
    }
}