
.formInput-small,.formInput-medium{
    color: var(--secondary);   
     border:2px solid var(--primary);
    border-radius: 2px;

    color: var(--secondary);
   

}
.formInput-small{
    padding: .2rem .5rem;

}
.formInput-medium{
    padding:.5rem .5rem;
}
.formInput-small::placeholder,.formInput-medium::placeholder{
    color: var(--fourth);
    text-transform: capitalize;
}