.header{
    box-shadow:.5px .5px 5px 0px var(--third);
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:.5rem 2rem;
}
.navItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.profileImg {
    border-radius: 50%;
    cursor: pointer;
}
.createStreamBtn{
    color: var(--white);
}
.createStreamLink{
    color: var(--white);
}
.createStreamBtn:hover .createStreamLink,.createStreamBtn:focus .createStreamLink{
    color: var(--primary);
}